<div class="item-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% @anotherEntries.each do |e| %>
          <%= link_to room_path(e.room.id) do %>
            <%= e.user.name %>とDMをしよう！
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div> 