h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.alerts {
    olor:#262626; 
    background:#FFEBE8;
    text-align: center;
    border:2px solid #990000;
    padding:12px; font-weight:850;
 }

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('top1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 60px;
  }
  h3 {
    font-family: normal;
  }
}

.form-control {
    height: 45px;
}

.users-new-wrapper {
    width: 100vw;
    height: 130vh;
    background-image: image-url('top1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    
    .users-new-container {
        padding-top: 100px;
        
        .form-group {
            margin-bottom: 15px;
        }
    }
}

.user-show-wrapper {
  margin-top: 200px;
}



.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding-top: 20px;
    margin-top: 15px;
    padding-left: 100px;
    font-size: 40px;
    color: white;
  }
  
  .navbar-right {
    padding-left: 30px;
  }

  img {
    height: 40px;
  }
}

.icon1 {
 margin-left: 10px; 
}

.icon2 {
  margin-left: 5px;
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.sessions-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('top1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  
  .sessions-new-container {
    padding-top: 150px;
  }
  .form-group {
    margin-bottom: 25px;
  }
}

.item-new-wrapper {
  padding-top: 120px;
}

.item-index-wrapper {
  padding-top: 120px;
  background-color: #fafafa;
  .item-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .item-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .item-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
      height: 300px;
    }

    .item-index {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
    
    .item-menus {
      float: right;
      padding-right: 20px;
    }
  }
}

.room-index-wrapper {
  padding-top: 140px;
}

.room-show-wrapper {
  padding-top: 150px;
}

.user-like-index-container {
  font-size: 50px;
  height: 70vh;
  margin-top: 100px;
  padding-top: 80px;
}

.test-login {
  padding: 20px;
}

.room-message {
  font-size: 50px;
  padding-left: 100px;
  margin-top: 120px;
}


